body {
    background: linear-gradient(to bottom, blue, purple);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    width: 100%;
    max-width: 300px;
    background: rgba(255,255,255,0.2);
    display:flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
    backdrop-filter: blur(4px)saturare(180%);
}

.form input{
    background: transparent;
    width: 60%;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 10px;
    font-size:20px;
    color: #cac7ff;
}

.form button img{
    width: 25px;

}
.form button{
    border:0;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: #58629b;
    cursor: pointer;
}

.lists{
    display: flex;
    flex-direction: column;
    width: 100%;
    float: left;
    max-height: 70vh;
    overflow-y: auto; 
}
.users {
    min-width: 100px;
    min-height: 100px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 40px;
    font-size: 80%;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.users:nth-child(odd) {
    background-color: #5FD8D6;
}

.users:nth-child(even) {
    background-color: #A723EE;
}

.users:hover {
    opacity: 0.5;
}
.remove{
    position: absolute;
    transform: translateY(90%);
}

/* Styles for the scroll bar */

/* width */
::-webkit-scrollbar {
    background-color: #000;
    width: 12px;
    border-radius: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(.5, #a520ca), color-stop(1, #2681cc));
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }}
  