body {
    background: linear-gradient(to bottom, blue, purple);
    height: 100vh;
    display: flex;
    Overflow: hidden
}

aside {
    float: left;
    width: 20%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0));
    border-radius: 50px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: 80vh;
    margin-right: 50px;
    
}

.typeButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}
.typeButtons button {
    width: 40%;
    height: 30px;
    font-family: 'Press Start 2P', cursive;
    color:white;
    background-color: #4598FB;
    border-width: 3px;
    border-color:white;
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
}

.typeButtons button.diffButton{
    background-color: #FB5E45;
}
main {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0));
    float: left;
    height: 100vh;
    width: 60%;
    border-radius: 50px;
    padding: 20px;

}

section {
    margin-bottom: 20px;
}

.nameBox{
    border: 2px solid white;
    border-radius: 20px;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top:0;
    right:0;
    margin-right: 20px;
    margin-top: 20px;
    background-color: #FB45F3;
}
.userName{
    font-size: 20px;
}

.media{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow-y: auto; 
    height: 90vh;

}
.mediaWatch{
    border-radius: 40px;
    background-image: url("/img/uguStars.jpg");
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 40vh;
    margin-bottom: 50px; 
    transition: opacity 0.3s ease;
}

.mediaWatch:hover {
    opacity: 0.7;
}

.mediaWatch img{
    border-radius: 40px;
    width: 100%;
    height: 30vh;
}

.mediaWatch span{
    color:white;
    margin-top: 10px;
    font-size: 20px;
    font-family: 'Indie Flower', cursive;
    text-align: center;
}
::-webkit-scrollbar {
    background-color: #000;
    width: 12px;
    border-radius: 10px;
}
  
  /* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
}
  
  /* Handle */
::-webkit-scrollbar-thumb {
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(.5, #a520ca), color-stop(1, #2681cc));
    border-radius: 10px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
  