.typeButtons #yearSearchSubmit  {
    margin-top: 50px;
    width: 90%;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    border-radius: 30px;
    padding: 10px 20px;
    backdrop-filter: blur(4px) saturate(180%);
}   


#yearSearchContainer {
    margin-top: 50px;
    width: 90%;
    height: 40px;
    background-color: rgba(255, 255, 2555, 0.2);
    display: flex;
    align-items: center;
    border-radius: 30px;
    padding: 10px 20px;
    backdrop-filter:  blur(4px) saturate(180%);
}

#yearSearchContainer input{
    background: transparent;
    flex:1;
    border: 0;
    outline: none;
    padding: 12px 10 px;
    font-size: 30px;
    color:#cac7ff;
    float: left;
}



